EXPO_PUBLIC_BACKEND_URL=https://studentassistant-api.decisivlabs.com

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=130940560692-ld17qvuahirmicb5o74qktuvvaa2cgnr.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=130940560692-ki34a0439c578q397em5rn34umue6cuu.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID=130940560692-ki34a0439c578q397em5rn34umue6cuu.apps.googleusercontent.com

EXPO_PUBLIC_ENABLE_DEV_LOGIN=false
EXPO_PUBLIC_BILLING_ENABLED=true
EXPO_PUBLIC_MONETIZATION_EXPECTED=true
